
:root {
  --primary-bg: #16382B;
  --black: #000;
  --secondery:#081C15;;
  --text-white: #fff;
  --body-bg-color:#081C15;;
  --footer-bg-color: #081C15;
}

/*
===============================
Global CSS START
===============================
*/
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  background: var(--body-bg-color);
  color: var(--text-white);
  
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
  display: block;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: bold;
}

h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.1875rem; /* 45px */
}

h2 {
  font-size: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.125rem; /* 18px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

@media screen and (min-width: 991px) {
h1 {
    font-size: 2.8125rem; /* 45px */
}

h2 {
    font-size: 2.1875rem; /* 35px */
}

h3 {
    font-size: 1.875rem; /* 30px */
 }

}

@media screen and (min-width: 1360px) {
h1 {
    font-size: 3.125rem; /* 50px */
}

h2 {
    font-size: 2.5rem; /* 40px */
}

h3 {
    font-size: 1.875rem; /* 30px */
}

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  opacity: 0.7;
}

/*----- button style ------*/

.site-btn {
  color: var(--text-white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 18px 60px;
  text-align: center;
  transition: 0.3s all ease;
  border-radius: 30px;
  background: linear-gradient(90deg, #40916C 1.75%, #22734E 100%);
}

.site-btn:hover {
  color: #40916C;
  background: var(--text-white);
}


/*----- button style end ------*/

#page {
  overflow: hidden;
}

.section-title h2 {
  line-height: 3.25rem;
}

.section-title p {
  margin-bottom: 25px;
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Section Start
============================
*/
.header-top {
  padding: 12px 0;
}

.sub-menu {
  text-align: right;
}

.sub-menu ul li {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.sub-menu ul li a {
  color: var(--text-white);
  display: block;
  padding-left: 40px;
  transition: 0.3s all ease;
}

.sub-menu ul li a:hover {
  opacity: .8;
}

.main-header {
	background-color: var(--text-white);
	padding-top: 32px;
	padding-bottom: 32px;
}

.main-menu {
	padding-left: 50px;
}

.main-menu ul {
  position: relative;
  display: inline-block;
  text-align: left;
}

.main-menu ul li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  font-weight: 400;
  font-size: 1rem;
}
.main-menu ul li a {
  color: var(--black);
  display: block;
  padding-right: 40px;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.3s all ease;
}

.main-menu ul li:hover > a {
  color: #22734E;
}

.header-info {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;
}

.header-info a {
  position: relative;
  display: block;
  margin-left: 25px;
  transition: 0.3s all ease;
}

.header-info a:hover{
  color: red;
}

.number {
  position: absolute;
  right: -4px;
  top: -6px;
  width: 15px;
  height: 15px;
  background-color: #F14848;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  font-size: 0.5625rem;
  font-weight: 700;
  border-radius: 50%;
}

/*
============================
Header Section Start End
============================
*/

/*
============================
Hero  Section Start 
============================
*/

.hero-area {
	height: 954px;
	display: flex;
	align-items: center;
  background: linear-gradient(180deg, #21503B 0%, #081C15 100%);
}

.hero-text {
	max-width: 558px;
}

.hero-text h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 4.0625rem;
}

.hero-text p {
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.hero-img {
	margin-right: -60px;
}

/*
============================
Hero  Section End
============================
*/


/*
============================
Philosophy Section Start
============================
*/

.philosophy-area {
	margin-top: -70px;
	position: relative;
}

.border-btn {
  background: transparent;
  border: 2px solid #40916C;
}

.border-btn:hover {
  color: #22734E;
  background-color: var(--text-white);
}

.philosophy-wrap {
	background: #16382B;
	border-radius: 20px;
	padding: 50px;
}

.service-box {
	background-color: #1C4636;
	padding: 25px;
	border-radius: 20px;
  position: relative;
  z-index: 2;
}

.vector-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 258px;
	z-index: -1;
}

.vector-img img {
  width: 100%;
}

.service-box h4 {
  line-height: 1.6875rem;
  margin-bottom: 31px;
}

.philosophy-wrap .section-title {
	max-width: 325px;
}

.service-list {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.service-list ul li {
  opacity: 0.7;
  font-size: 0.875rem;
  margin-right: 8px;
  color: var(--text-white);
  display: inline-block;
}

.service-list ul li span {
	padding-left: 8px;
}

.service-list p img {
  width: 45px;
}

.service-cta {
	display: flex;
	justify-content: space-between;
	background: #265040;
	padding: 12px 18px;
	align-items: center;
	border-radius: 30px;
	margin-bottom: 20px;
	font-size: 0.875rem;
	max-width: 274px;
}

.service-box .site-btn {
	font-size: 0.875rem;
}

/*
============================
Philosophy Section Start
============================
*/

.Meet-CherryIsh-Coffee-area {
	padding-top: 115px;
}

/*
===============================
Shop Categories Section Start
===============================
*/
.shop-categories-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

.shop-sale-area {
  padding-top: 60px;
  padding-bottom: 166px;
}

.shop-categories-box {
  position: relative;
  margin-top: 40px;
  z-index: 2;
}

.shop-img img {
  border-radius: 20px;
  width: 100%;
}

.shop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.shop-content img {
  margin: 0 auto;
  margin-bottom: 10px;
}

.shop-content h4 {
  font-size: 1.625rem;
}

.shop-categories-box:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(34, 115, 78, .6);
  border-radius: 20px;
  z-index: 1;
}

/*
===============================
Shop Categories Section End
===============================
*/

.subscribe-addres-area {
  background-color: #12261F;
  padding-top: 90px;
  padding-bottom: 75px;
}

.subscribe-addres-area .section-title {
  max-width: 370px;
}

.section-title h3 {
  font-size: 2.1875rem;
}

.field input {
  width: 68%;
  display: block;
  outline: none;
  border: none;
  background: transparent;
  background-color: #263A33;
  height: 56px;
  color: var(--text-white);
  border: 1px solid #3A4E47;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 1rem;
  position: relative;
}

.field button {
  position: absolute;
  right: 10px;
  top: 0;
  border: 0;
  padding: 18px 43px;
  cursor: pointer;
}

/*
============================
Coffee Section Start
============================
*/

.footer-wrapper {
	padding-top: 60px;
	padding-bottom: 30px;
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
}
.sub-title {
  font-size: 1.375rem;
  margin-bottom: 32px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.footer-widget ul {
  column-count: 2;
}

.footer-widget {
  width: 400px;
}

.footer-widget ul li a {
  color: var(--text-white);
  font-size: 0.875rem;
  transition: 0.3s all ease;
}

.footer-widget ul li {
  display: block;
  margin-bottom: 15px;
}

.contact-info a {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
  color: var(--text-white);
  font-size: 0.875rem;
}

/*
============================
Responsive Style Start
============================
*/

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1260px;
  }
  
  }


  /*
============================
Responsive Style Start
============================
*/